.sidebar {
  border: 1px solid $border-color;
  border-radius: 18px;
  padding: 12px;
  display: grid;
  grid-gap: 8px;

  button {
    font-size: $font-size;
    color: $secondary;
    font-weight: 800;
    padding: 12px;
    border-radius: 12px;
    transition: .3s;
    text-align: left;
    width: 100%;

    &.selected {
      background-color: $primary;
      color: $bg;
    }
  }
}