.card {
  border-radius: 18px;
  overflow: hidden;
  background: $bg;
  box-shadow: 0 10px 13px -4px rgba(35, 35, 95, 0.19);

  .imageBox {
    height: 162px;
    display: grid;
    align-items: center;
    justify-items: center;

    img {
      width: 144px;
      height: 144px;
    }
  }
  p {
    padding: 12px 18px;
    font-weight: 800;
    font-size: $font-size;
  }
}